*{
	margin: 0;
	padding: 0;
	outline: none;
}
.product{
	width: 1450px;
	height: 1200px;
	background: #f2f2f2;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.subproduct{
	width: 350px;
	height: 440px;
	background: #ccc;
	float: left;
}
.img-product, .img-product img{
	width:  350px;
	height: 440px;
}
.img-product{
	position: relative;
}
.img-product p{
	padding: 5px 10px;
	background: #fff;
	position: absolute;
	bottom: 0;
}
.detail p:first-child{
	font-size: 20px;
	color: red;
	font-weight: bold;
}
.detail P:nth-child{
	font-size: 18px;
	color: :black;
    font-weight: bold;
}
.detail P:last-child{
	font-size: 16px;
}
.subproduct:hover{
	border :1px solid black;
}